[submodule "ops/ppa"]
	path = ops/ppa
	url = https://github.com/InnovAnon-Inc/ppa.git
[submodule "dev/bash-syslog"]
	path = dev/bash-syslog
	url = https://github.com/InnovAnon-Inc/bash-syslog.git
[submodule "it/pgldap"]
	path = it/pgldap
	url = https://github.com/InnovAnon-Inc/pgldap.git
[submodule "it/pgrsyslog"]
	path = it/pgrsyslog
	url = https://github.com/InnovAnon-Inc/pgrsyslog.git
[submodule "dev/dcc/main"]
	path = dev/dcc/main
	url = https://github.com/InnovAnon-Inc/dcc.git
[submodule "dev/dcc/kali"]
	path = dev/dcc/kali
	url = https://github.com/InnovAnon-Inc/dcc.git
	branch = kali
[submodule "dev/dcc/ubuntu"]
	path = dev/dcc/ubuntu
	url = https://github.com/InnovAnon-Inc/dcc.git
	branch = ubuntu
[submodule "dev/dcc/voidlinux"]
	path = dev/dcc/voidlinux
	url = https://github.com/InnovAnon-Inc/dcc.git
	branch = voidlinux
[submodule "htb/db"]
	path = htb/db
	url = https://github.com/InnovAnon-Inc/teamhack_db.git
[submodule "htb/dns"]
	path = htb/dns
	url = https://github.com/InnovAnon-Inc/teamhack_dns.git
[submodule "htb/rest"]
	path = htb/rest
	url = https://github.com/InnovAnon-Inc/teamhack_rest.git
[submodule "htb/recond"]
	path = htb/recond
	url = https://github.com/InnovAnon-Inc/teamhack_recond.git
[submodule "htb/import_db"]
	path = htb/import_db
	url = https://github.com/InnovAnon-Inc/import_db.git
[submodule "htb/msfrpcd"]
	path = htb/msfrpcd
	url = https://github.com/InnovAnon-Inc/msfrpcd.git
[submodule "htb/nmap"]
	path = htb/nmap
	url = https://github.com/InnovAnon-Inc/teamhack_nmap.git
[submodule "contrib/xmrig/xmrig"]
	path = contrib/xmrig/xmrig
	url = https://github.com/MoneroOcean/xmrig.git
